::-webkit-scrollbar {
    width: 7px;
    background: $black;
}
::-webkit-scrollbar-thumb {
    background: darken($secondary,5%);
    border-radius: 20px;

    &:hover {
        background: $secondary;
    }
}
